.btn-primary{
    background-color: rgb(180, 148, 6);
    border: 1px solid rgb(180, 148, 6);
}
.btn-primary:active{
    border: 1px solid rgb(204, 176, 52);
    background-color: rgb(204, 176, 52);
}
.main{
    height:45vh;
    background-color: beige;
    margin-top: 22vh;
    border-radius: 10px;
}